---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target=".scrollspy">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <ul>
            {% for post in site.posts %}
              <li><a href="#{{ post.title | slugify }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>

          <ul class="post-list">
            {% for post in site.posts %}
              <a name="{{ post.title | slugify }}"></a>
              {% assign content = post.content %}
              {% include post.html %}
            {% endfor %}
          </ul>
        </div>
        <div class="sidebar">
          <div data-spy="affix" data-offset-top="258">
            <div class="scrollspy">
              <ul id="nav" class="nav">
                <li><a href="#Welkom">Welkom</a></li>
                <li><a href="#Beeldmerk">Beeldmerk</a></li>
                <li><a href="#Logo">Logo</a></li>
                <li><a href="#Kleurenpalet">Kleurenpalet</a></li>
                <li><a href="#Lettertypes">Lettertypes</a></li>
                <li><a href="#Poster">Poster</a></li>
                <li><a href="#Presentatietemplate">Presentatietemplate</a></li>
                <li><a href="#Visitekaartjes">Visitekaartjes</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
